.call-button button {
  background-color: var(--accent-color);
  font-weight: 500;
  font-size: pxToRem(14px);
  color: var(--black);
  padding: 10px 25px;
  border: none;
  border-radius: var(--btn-border-radius);
  @include font-helvetica-neue;
  cursor: pointer;
  height: 42px;
  width: 181px;

  &:hover {
    background-color: darken-accent(2%);
  }
  &:active {
    background-color: darken-accent(4%);
  }
}
