.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay.active {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 400px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup .close {
  position: absolute;
  top: 5px;
  right: 5px;
  transition: all 200ms;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: (--dark-gray);
  border: none;
  background-color: transparent;
}

.popup .close:hover {
  color: var(--accent-color);
}

.popup .content {
  margin-top: 20px;
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px) {
  .box {
    width: 70%;
  }
  .popup {
    width: 70%;
  }
}
