:root {
  /* colors */
  --black: #111;
  --soft-black: #181920;
  --slight-black: #1d1e26;
  --dark-gray: #303240;
  --gray: #acafbf;
  --soft-gray: #585b69;
  --light-gray: #f5f6fa;
  --dirty-white: #fafafc;
  --yellow: #ffce00;
  --red: #ca2a1d;

  /* fonts */
  --base-font-size: 16px;
  --bold-weight: 700;
  --semi-bold-weight: 500;

  --accent-color: var(--yellow);
  --btn-border-radius: 6px;
  --header-height: 80px;

  /* z-index */
  --z-index-max: 100;
  --z-index-middle: 50;
  --z-index-min: 10;
}
